@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('../fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 8px;
}

@media (min-width: 992px) {
    .container {
        padding: 0 20px;
    }
}

body {
    font-family: 'Graphik LCG', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    line-height: 150%;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
}

a {
    color: #000;
    text-decoration: underline;
}

@media (min-width: 992px) {
    a:hover {
        color: #FF6336;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.btn {
    font-weight: 600;
}

h1 {
    font-size: 24px;
    line-height: 110%;

}

h2 {
    font-size: 24px;
    line-height: 120%;
}

h3 {
    font-size: 24px;
    line-height: 116%;
}

h4 {
    font-size: 20px;
    line-height: 125%;
    margin: 8px 0;
}

.footer-nav h4 {
    font-size: 10px;
    margin: 3px 0 8px;
}

h5 {
    font-size: 16px;
    line-height: 134%;
    margin: 24px 0 6px;
}

h6 {
    font-size: 12px;
    line-height: 140%;
    margin: 12px 0 0 0;
}

@media (min-width: 480px) {
    h1 {
        margin: 0 0 49px;
        font-size: 40px;
    }

    .footer-nav h4 {
        font-size: 16px;
        margin: 6px 0 15px;
    }
}

@media (min-width: 992px) {
    h1 {
        /* margin: 0 0 49px; */
        font-size: 65px;
    }

    h2 {
        margin: 0;
        font-size: 50px;
    }

    h3 {
        margin: 0;
        font-size: 65px;
    }

    h4 {
        margin: 0;
        font-size: 32px;
    }

    .footer-nav h4 {
        font-size: 20px;
        margin: 6px 0 15px;
    }

    h5 {
        font-size: 30px;
        margin: 52px 0 12px;
    }

    h6 {
        font-size: 25px;
        margin: 25px 0 0 0;
    }
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    background: #fff;
    text-decoration: none;
    padding: 4px 12px;
    border: 1px solid rgba(0, 0, 0, 0.50);
}

@media (min-width: 992px) {
    .btn {
        padding: 11px 36px;
        border: 1px solid rgba(0, 0, 0, 0.50);
        min-width: 160px;
        margin-right: 10px;
    }

    .btn:hover {
        border: 1px solid #FF6336;
        color: #FF6336;
    }
}


.btn--mob {
    border: none;
}

.btn--bg {
    color: #fff;
    background: #FF6336;
    border: 1px solid #FF6336;
}

.btn--lg {
    padding: 10px 24px;
    margin: 5px 5px 15px;
}

.btn--bgdarck {
    background: #000;
    color: #fff;
}

@media (min-width: 992px) {
    .btn--lg {
        padding: 20px 42px;
        margin: 25px 0 14px;
    }

    .btn--bg:hover {
        background: #000;
        border: 1px solid #000;
    }

    .btn--bgdarck:hover {
        background: #fff;
        color: #000;
    }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #CCC;
    font-size: 15px;
    line-height: 133%;
    padding: 25px 0;
    position: relative;
}

/* @media (min-width: 992px) {} */

.hold {
    display: flex;
    justify-content: space-between;
}

#opener {
    display: none;
}

.opener {
    display: inline-block;
    z-index: 10;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 992px) {
    .opener {
        display: none;
    }
}

.opener:before,
.opener:after,
.opener span {
    content: "";
    width: 25px;
    height: 4px;
    position: absolute;
    background: #FFC500;
    border: 1px solid #2e2e2e;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transition: all .5s;
}

.opener:before {
    top: 33%;
    background: #A4A14A;
}

.opener::after {
    top: 67%;
    background: #FF6336;
}

.hold-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;
    height: 28px;
    margin-right: 24px;
}

.menu {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #fff;
}

@media (min-width: 992px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.menu>li {
    padding: 5px 15px;
    position: relative;
    border-bottom: 1px solid #CCC;
}

.menu>li:last-child {
    background: #FF6336;
}

@media (min-width: 992px) {
    .menu>li {
        padding: 0 15px;
        border: none;
    }

    .menu>li:last-child {
        background: none;
    }
}

.menu a {
    text-decoration: none;
    display: block;
}

.menu .drop {
    display: none;
}

.hold .buttons {
    display: none;
}

#opener:checked~.opener:before {
    top: 50%;
    transform: rotate(45deg);
}

#opener:checked~.opener:after {
    top: 50%;
    transform: rotate(-45deg);
}

#opener:checked~.opener>span {
    width: 0;
    opacity: 0;
}

#opener:checked~.hold-logo .menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 47px 0 0;
    border: 1px solid #CCC;
}

@media (min-width: 992px) {
    #opener:checked~.hold-logo .menu {
        display: none;
    }
}

@media (min-width: 992px) {
    .hold .buttons {
        display: flex;
    }

    .menu .btn {
        display: none;
    }
}

@media (min-width: 992px) {
    .drop {
        width: 125px;
        list-style: none;
        margin: 0;
        padding: 10px 0 0;
        position: absolute;
        top: 100%;
        left: 31px;
        display: none;
    }

    .drop>li {
        padding: 1px 0;
        position: relative;
    }

    .drop a {
        display: block;
        padding: 5px 0;
        background: #FF6336;
        color: #fff;
    }

    .drop>li:hover::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 15px;
        border-color: transparent transparent transparent #ff6236;
    }

    .menu li:hover {
        color: #FF6336;
    }

    .menu li:hover>.drop {
        display: block;
    }
}


.hero-section {
    min-height: 100vh;
    padding: 10px 0 20px;
    font-size: 12px;
    line-height: 140%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 480px) {
    .hero-section {
        padding: 10px 0 20px;
    }
}

@media (min-width: 768px) {
    .hero-section {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text-box {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .hero-section {
        padding: 225px 0 50px;
        font-size: 25px;
        align-items: flex-start;
    }

    .hero-text-box {
        width: 43%;
    }
}

.note {
    font-size: 12px;
    line-height: 167%;
}

@media (min-width: 992px) {
    .note {
        font-size: 15px;
    }
}

.hero-img {
    width: 100%;
    padding: 10px 0 0;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .hero-img {
        width: 100%;
        padding: 22px 0 0;
    }
}

.box-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.hold-center h2 {
    text-align: center;
}

.red {
    background: #FF9C7D;
}

.red1 {
    padding: 20px 0 40px;
}

@media (min-width: 992px) {
    .red1 {
        padding: 118px 0 104px;
    }
}

.list {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

@media (min-width: 768px) {
    .list {
        padding: 21px 0 0;
    }
}

@media (min-width: 992px) {
    .list {
        padding: 71px 0 0;
    }
}

.list li {
    width: 35%;
    margin-top: 10px;
}

@media (min-width: 480px) {
    .list li {
        width: 20%;

    }
}

@media (min-width: 768px) {
    .list li {
        width: 15%;
    }
}

@media (min-width: 992px) {
    .list li {
        width: 10%;
    }
}


.present {
    padding: 10px 0 25px;
}

@media (min-width: 992px) {
    .present {
        padding: 90px 0 150px;
    }
}

.row+.row {
    padding-top: 20px;
}

.row-text {
    text-align: center;
}

@media (min-width: 768px) {
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .row+.row {
        padding-top: 20px;
    }

    .row:nth-child(even) {
        flex-direction: row-reverse;
    }

    .row-box {
        width: 49%;
    }

    .row-text {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .row+.row {
        padding-top: 250px;
    }

    .row-text {
        width: 40%;
    }
}

.action {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 12px;
}


@media (min-width: 992px) {
    .action {
        position: relative;
        font-size: 20px;
        margin-top: 40px;
        text-decoration: none;
    }

    .action:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 0 8px 15px;
        border-color: transparent transparent transparent #ff6236;
        display: none;
    }

    .action:hover::after {
        display: block;
    }

}

.benefits {
    background: #FFF8E4;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.list-cards {
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-cards li {
    padding: 12px 24px;
    width: calc(100% / 2);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    line-height: 139%;
}

.cards h2 {
    text-align: center;
}

.pic {
    width: 80px;
    height: 60px;
}

@media (min-width: 768px) {
    .list-cards li {
        width: calc(100% / 3);
    }
}

@media (min-width: 992px) {
    .list-cards {
        padding: 55px 0 0;
    }

    .cards {
        padding: 118px 0 105px;
    }

    .list-cards li {
        padding: 28px 50px;
        width: calc(100% / 3);
    }

    .card {
        font-size: 18px;
    }

    .cards h2 {
        align-self: center;
    }

    .pic {
        width: 160px;
        height: 120px;
    }
}

.dir-list {
    list-style: none;
    margin: 0;
    padding: 10px 0 20px;
}

.dir-list li {
    margin-bottom: 24px;
}

.dir-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.dir-pic {
    height: 100px;
    width: 90px;
    display: flex;
    margin: 0 auto;
}

@media (min-width: 480px) {
    .dir-list {
        display: flex;
        justify-content: space-between;
    }

    .dir-card {
        padding-right: 10px;
        align-items: center;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .dir-list {
        padding: 110px 0 88px;
    }

    .dir-list li {
        width: calc(100% / 3);
    }

    .dir-list li+li {
        margin-left: 9px;
    }

    .dir-card {
        padding-right: 20px;
    }

    .dir-pic {
        height: 200px;
        width: auto;
    }
}

.quote {
    background: #C9E8F2;
}

.row-top {
    /* align-items: flex-start; */
    padding: 20px 0 24px;
}

.quote-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

q {
    font-size: 16px;
    line-height: 133%;
    margin: 12px 0 25px;
}

.quote-text img {
    width: 66px;
    height: 16px;
    margin-top: 5px;
}

@media (min-width: 480px) {
    .row-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .quote-text {
        width: 70%;
    }

    .quote .photo {
        width: 30%;
    }
}

@media (min-width: 768px) {
    .row-top {
        padding: 52px 0 105px;
    }

    q {
        font-size: 30px;
    }

    .quote-text img {
        width: 115px;
        height: 25px;
    }
}

.rating {
    background: #DABC98;
    padding: 10px 0;
}

.rating .hold {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.rating-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 143%;
    padding: 20px 0;
    margin: 0 auto;
}

.rating-img {
    margin: 0 20px;
}

.rating-img img {
    width: 60px;
    height: 46px;
    max-width: none;
}

.rating-cards {
    display: flex;
    justify-content: space-around;
    padding: 20px 10px;
    border-top: 1px solid #000;
    width: 100%;
}

.rating-cards img {
    height: 100px;
    width: 120px;
}

@media (min-width: 480px) {
    .rating .hold {
        display: flex;
        flex-direction: row;
    }

    .rating-cards {
        padding: 32px 0;
        border-top: none;
        border-left: 1px solid #000;
        width: 50%;
    }

    .rating-cards img {
        height: 60px;
        width: 70px;
    }
}

@media (min-width: 768px) {
    .rating-cards {
        width: 40%;
    }

    .rating-cards img {
        height: 70px;
        width: 80px;
    }
}

@media (min-width: 992px) {
    .rating {
        padding: 69px 0;
    }

    .rating-text {
        font-size: 35px;
    }

    .rating-img {
        margin-right: 67px;
    }

    .rating-img img {
        width: 176px;
        height: 154px;
    }

    .rating-cards {
        justify-content: flex-start;
        padding: 41px 0;
        width: 50%;
    }

    .rating-cards img {
        height: 116px;
        width: auto;
        padding-left: 71px;
    }
}

.pad-160 {
    padding: 20px 0 26px;
}

.hold-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 120%;
}

.hold-center p {
    margin: 0 0 26px 0;
}

.hold-center .integrate-img {
    padding-bottom: 20px;
}

@media (min-width: 992px) {
    .pad-160 {
        padding: 160px 0 150px;
    }

    .hold-center {
        font-size: 25px;
    }
}

.red2 .hold-center {
    font-size: 14px;
    line-height: 150%;
}

.red2 p {
    margin: 12px 0 20px 0;
}

.red2 {
    padding: 20px 0 24px;
}

@media (min-width: 992px) {
    .red2 .hold-center {
        font-size: 20px;
    }

    .red2 p {
        margin: 33px 0 26px 0;
    }

    .red2 {
        padding: 119px 0 145px;
    }
}

footer {
    background: #EEE;
}

.footer-content {
    padding: 20px 0 24px;
}

.footer-content .dir-card {
    width: 100%;
    border-bottom: 1px solid #CCC;
}

.footer-content p {
    margin-top: 12px;
}

.footer-content .action {
    margin-top: 0;
}

.img {
    padding: 10px 0;
}

.dir-card>img {
    width: 80px;
    height: 32px;
}

@media (min-width: 480px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 30px 0 34px;
    }

    .footer-content .dir-card {
        width: 50%;
        border-bottom: none;
    }

    .img {
        padding: 28px 0 31px;
    }
}

@media (min-width: 768px) {
    .footer-content {
        padding: 70px 0 50px;
    }

    .footer-content .dir-card {
        width: 35%;
    }
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 8px;
    line-height: 100%;
    width: 100%;
    padding: 20px 0 0;
}

.column {
    width: 100%;
    padding: 4px 0;
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0 0 8px;
    display: flex;
    flex-wrap: wrap;
}

.footer-list li {
    padding: 4px 8px;
}

.footer-list a {
    text-decoration: none;
}

@media (min-width: 480px) {
    .footer-nav {
        padding: 0 0 0 50px;
        font-size: 12px;
    }

    .column {
        width: calc(100% / 2);
    }

    .footer-list {
        display: block;
    }

    .footer-list li {
        padding: 8px 0;
    }
}

@media (min-width: 768px) {
    .footer-nav {
        font-size: 12px;
        padding-left: 40px;
    }

    .column {
        width: calc(100% / 4);
    }
}

@media (min-width: 992px) {
    .footer-nav {
        font-size: 15px;
        padding-left: 112px;
    }
}

.hold-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #000;
    font-size: 8px;
    line-height: 125%;
}

.logo-foter img {
    width: 90px;
    height: 22px;
}

.hold-footer span {
    width: 30%;
    text-align: end;
}

@media (min-width: 480px) {
    .hold-footer {
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .hold-footer {
        padding: 34px 0 34px;
    }

    .logo-foter {
        display: inline-flex;
        align-items: center;
        width: 30%;
    }

    .logo-foter img {
        margin-right: 14px;
    }
}