@font-face {
    font-family: 'PT Sans';
    src: url('../../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../../fonts/PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../../fonts/PTSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: $text;
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
    // padding: 16px 82px;
    width: 100%;
    text-align: center;
    color: $white;
    background: $button;
    border-radius: 5px;
}

.pages {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    padding: 12px 15px;
    background: $white;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
}

// @mixin h($fw: 700, $fs: 30px, $lh:normal)
h2 {
    @include h;
}
h3 {
    @include h ($fs: 25px, $lh: 112%);
    margin: 22px 0 15px;
}

h4 {
    @include h ($fs: 26px, $lh: 139%);
    color: $white;
}

h5 {
    @include h ($fs: 20px, $lh: 150%);
    margin: 0;

    .card & {
        color: $white;
    }
}

h6 {
    @include h ($fs: 18px);
}