$white: #fff;
$text: #666;
$button: #232323;
$tags: #EBEBEB;
$black: #171717;
$accent: #4A90E2;
$box_shad: 0px 3px 10px 0px rgba(0, 0, 0, 0.10);


// tag
$tag-fs: 12px;
$tag-lh: 100%;
$tag-ptop: 5px;
$tag-pbot: 3px;
$tag-py: 12px;
$tag-br: 3px;

// img
$br: 5px;