.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 20px;
    @extend %box_img;
    color: $white;

    .visual {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;

        &:after {
            content: "";
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.75) 82.82%);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 70%;
        }
    }

    img {
        max-width: none;
        vertical-align: bottom;
        object-fit: cover;
        height: 100%;
        object-position: 50% 50%;
    }

    .card_body {
        display: flex;
        flex-direction: column;
        z-index: 4;
        padding-top: 150px;
        transition: all .8s;

        &:hover {
            transform: translateY(-20px);
        }

        time {
            margin-bottom: 6px;
        }
    }
}

.small_card {
    display: flex;
    flex-direction: column;
    position: relative;
    
    .visual {
        padding-top: 70%;
        @extend %box_img;
        
        img {
            @extend %img;
        }
    }
    
    i {
        color: $text_lite;
        margin-top: 8px;
    }
    
    +p {
        margin: 14px 0 21px 0;
    }
}

.big_card {
    display: flex;
    flex-direction: column;

    &_body {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 30px 70px 30px 30px;
        margin: -125px 20px 0;
        border-radius: $br;
        background: $white;
        box-shadow: $box_shad;
        line-height: 171%;
    }

    .visual {
        padding-top: 55%;
        @extend %box_img;

        img {
            @extend %img;
        }
    }

    p {
        margin: 14px 0 0 0;
    }
}