.form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        border: none;
    }

    input {
        border: 1px solid $input;
        padding: 17px 15px 15px;
        border-radius: 3px;

        &:hover {
            border: 1px solid $accent;
        }

        &:invalid {
            border: 1px solid red;
            color: red;
        }
    }
}