.tag_color {
    font-size: $tag-fs;
    line-height: $tag-lh;
    padding: $tag-ptop $tag-py $tag-pbot;
    border-radius: $tag-br;
    color: $white;
    background: $accent;

    .card & {
        position: absolute;
        top: 30px;
        left: 22px;
        z-index: 10;
    }

    .small_card & {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
    }

    .big_card & {
        align-self: flex-start;
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;

    li {
        padding: 5px;

        a {
            display: block;
            border-radius: $tag-br;
            line-height: 18px;
            padding: $tag-ptop $tag-py $tag-pbot;
            background: $tags_bg;
            color: $black;
            
            &:hover {
                background: $accent;
                color: $white;
            }
        }
    }
}