// .btn {
//     font-size: $btn-fs;
//     line-height: $btn-lh;
//     font-weight: $btn-fw;
//     background: $button_bg;
//     padding: $btn-ptop 0 $btn-pbot;
//     text-align: center;
//     border-radius: $br;
//     display: block;
//     color: $white;
//     position: relative;

//     &:hover {
//         background: $accent;
//     }
// }

.btn-popup {
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    color: $white;
    background: $active;
    border-radius: $border-button;
    border: none;
    padding: 18px 30px;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.50);
    cursor: pointer;
    align-self: center;

    &:hover {
        background: $active-hover;
    }

    &:active {
        background: $active-active;
    }
}