.c-card {
    &__img {
        display: inline-block;
        font-size: 60px;
        background: $white;
        border-radius: $border-icon;
        padding: 16px;

        span {
            color: transparent;
            background: $grad-icon;
            background-clip: text;
        }
    }

    &__body {
        padding-top: 30px;
        color: $white;
        line-height: 162%;
    }

    &__title {
        color: $active;
    }

    &__copy {
        margin: 15px 0 0 0;
    }
}

.c-card-news {
    overflow: hidden;

    &__img {
        img {
            object-fit: cover;
            height: 100%;
            max-width: none;
        }

        &--big {
            height: 500px;
        }

        &--small {
            height: 200px;
        }
    }

    &__body {
        padding: 30px;
    }

    &__title {
        time {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: $text;
            letter-spacing: 1px;
            margin: 15px 0;
            display: block;
        }

        &--big {
            h4 {
                color: transparent;
                background: $grad-red-text;
                background-clip: text;
            }
        }
    }

    &__subtitle {
        padding-top: 30px;
        color: $text;
        font-size: 14px;

        h4 {
            color: $text;
        }

        p {
            margin: 6px 0 0 0;
        }
    }

    &__copy {
        font-size: 14px;
        line-height: 157%;
        border-top: 4px solid $separator;

        p {
            margin: 15px 0 0 0;
        }
    }

    &--big {
        background: $bg;
        border-radius: 12px;
    }

    &--small {
        background: $white;
        border-radius: 8px;
    }
}


@media (min-width:992px) {
    .c-card-news {
        &--big {
            display: flex;
            align-items: center;
        }

        &__img--big {
            height: 100%;
            width: 400px;
            
            img {
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}