.c-card {
    transition: all .5s;
    display: block;

    &__img {
        display: inline-block;
        font-size: 60px;
        background: $white;
        border-radius: $border-icon;
        padding: 16px;

        span {
            color: transparent;
            background: $grad-icon;
            background-clip: text;
        }
    }

    &__body {
        padding-top: 30px;
        color: $white;
        line-height: 162%;
    }

    &__title {
        color: $active;
    }

    &__copy {
        margin: 15px 0 0 0;
    }
}

.c-card-news {
    overflow: hidden;

    &__img {
        img {
            object-fit: cover;
            height: 100%;
            max-width: none;
        }

        &--big {
            height: 500px;
        }

        &--small {
            height: 200px;
        }
    }

    &__body {
        padding: 30px;
    }

    &__title {
        time {
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            color: $text;
            letter-spacing: 1px;
            margin: 15px 0;
            display: block;
        }

        &--big {
            blockquote {
                margin: 0;
                color: transparent;
                background: $grad-red-text;
                background-clip: text;
            }
        }
    }

    &__subtitle {
        padding-top: 30px;
        color: $text;
        font-size: 14px;

        cite {
            font-style: normal;
            color: $text;
            font-weight: 700;
        }

        p {
            margin: 6px 0 0 0;
        }
    }

    &__copy {
        font-size: 14px;
        line-height: 157%;
        border-top: 4px solid $separator;

        p {
            margin: 15px 0 0 0;
        }
    }

    &--big {
        background: $bg;
        border-radius: 12px;
    }

    &--small {
        background: $white;
        border-radius: 8px;
        height: 100%;
    }
}

@media (min-width:992px) {
    .c-card-news {
        &--big {
            display: flex;
            align-items: center;
        }

        &__img--big {
            height: 100%;
            width: 400px;

            img {
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}

.c-team-card {
    &__img {
        padding-top: 300px;
        position: relative;
        border-radius: $border-button;
        overflow: hidden;

        img {
            position: absolute;
            inset: 0;
            max-width: none;
            height: 100%;
            object-fit: cover;
            @extend %anim;
        }

        a {
            position: absolute;
            inset: 0;
            display: block;
            color: transparent;
            z-index: 1;

            &:hover {
                &~img {
                    transform: scale(1.1);
                }
            }
        }
    }

    &__body {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        color: $text;
        font-size: 14px;
        line-height: 157%;

        p {
            margin: 5px 0 0 0;
        }
    }
}

@media (min-width:768px) {
    .c-team-card {
        &__img {
            padding-top: 400px;
        }
    }
}