.c-scroll {
    span {
        position: relative;
        display: block;
        width: 42px;
        height: 42px;
        border: 2px solid rgba($white, 0.5);
        border-radius: 50%;
        color: transparent;

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 45%;
            right: 45%;
            width: 12px;
            height: 2px;
            background: $white;
            transform: rotate(45deg);
        }

        &::after {
            left: 45%;
            transform: rotate(-45deg);
        }

        &:hover {
            border: 2px solid rgba($accent, 0.5);

            &::after,
            &::before {
                background: $accent;
            }
        }

        &:active {
            border: 2px solid rgba($active-active, 0.5);

            &::after,
            &::before {
                background: $active-active;
            }
        }
    }
}

.more_arrow {
    span {
        position: relative;
        display: block;
        width: 32px;
        height: 32px;
        background: $bg;
        border-radius: 50%;
        color: transparent;

        &::after,
        &::before {
            content: "";
            position: absolute;
            bottom: 55%;
            left: 40%;
            width: 10px;
            height: 2px;
            background: $active;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 36%;
            transform: rotate(-45deg);
        }

        &:hover {
            background: $bg-alt;

            &::after,
            &::before {
                background: $accent;
            }
        }

        &:active {
            background: $accent;

            &::after,
            &::before {
                background: $active-active;
            }
        }
    }
}