.color-section {
    background: $grad-supersoft;
    border-radius: 0 0 12px 12px;
    position: relative;

    &__letter {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100vh;
        overflow: hidden;
        text-align: center;

        img {
            max-width: none;
            width: auto;
            height: 100%;
        }
    }

    &:before {
        content: "";
        position: absolute;
        bottom: -10px;
        right: 0;
        left: 0;
        height: 10px;
        // width: auto;
        margin: 0 20px;
        background: #CACADB;
        border-radius: 0 0 12px 12px;
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -20px;
        right: 0;
        left: 0;
        height: 10px;
        // width: auto;
        margin: 0 40px;
        background: #E7E7F2;
        border-radius: 0 0 12px 12px;
    }
}


.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__text {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            color: $white;
        }

        a {
            position: absolute;
            display: block;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.hold-start {
    display: flex;
    flex-direction: column;
    // gap: 15px;

    &__title {
        
        .h1 {
            margin: 10px 0;
        }
    }
}

.list {
    padding: 15px 0;

    li {
        padding: 15px 0;
    }
}

@media (min-width: 768px) {
    .list {
        padding: 60px 0 0;
        display: flex;
        flex-wrap: wrap;
        margin-left: -60px;

        li {
            width: calc(100% / 2);
            padding: 0 0 60px 60px;
        }
    }
}

@media (min-width: 992px) {
    .list {
        li {
            width: calc(100% / 3);
        }
    }
}

.l-hold {
    padding: 50px 0 46px;
}

@media (min-width: 768px) {
    .l-hold {
        padding: 80px 0 46px;
    }
}