@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    color: #000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.nav-container {
    background-color: #EFEFEF;
    padding: 2px 0 0;
    text-align: center;
}

.container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-menu {
    display: inline-block;
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin: 0 14px;
}

a {
    text-decoration: none;
}

.logo-container {
    padding: 23px 0 15px;
    overflow: hidden;
}

.logo {
    float: left;
}

.call-back {
    float: right;
    padding: 20px 0 0;
}

.call-back a {
    color: #000;
    font-size: 16px;
    margin: 0 38px 0 0;
}

.btn {
    padding: 11px 54px;
    border: 2px solid #F13C6E;
    background: #FFF;
    border-radius: 40px;
}

.menu {
    padding: 30px 0 32px;
    text-align: center;
    border-top: 1px solid #EFEFEF;
}

.menu-list {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.menu-list li {
    display: inline-block;
    margin: 0 18px;
}

#main {
    background-color: #EFEFEF;
}

.hero-section {
    padding: 176px 0 100px;
    background-color: #F13C6E;
    color: #FFF;
    min-height: 604px;
    background-image: url(../media/img/heroImg.png);
}

.hero-section-text {
    max-width: 25%;
    line-height: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 8px 0 20px;
}

h3 {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1.05px;
    margin: -4px 0 21px;
}

.box-text h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: calc(22/16);
}

.hero-section-text p {
    margin: 57px 0 36px 0;
}

.btn-more {
    border-radius: 40px;
    border: 2px solid #FFF;
    padding: 9px 65px;
    color: #FFF;
    letter-spacing: 0.7px;
}

.items-offer {
    padding: 48px 0 83px;
}

.list-card {
    list-style: none;
    margin: 0 -30px 0 0;
    padding: 0;
    overflow: hidden;
}

.list-card > li {
    float: left;
    margin-right: 30px;
}

.card {
    width: 255px;
    line-height: calc(20/14);
    background: #FFF;
    padding: 25px 20px 33px;
    text-align: center;
}
.card img {
    width: 125px;
    height: 166px;
    margin: 0 auto;
}

.buy {
    letter-spacing: 0.7px;
    color: #FFF;
    border-radius: 30px;
    padding: 9px 52px;
    background:#F13C6E;
}

.info {
    overflow: hidden;
    margin: 16px 0 0 0;
}

.box {
    width: 540px;
    padding: 35px 41px 34px;
    background-color: #F13C6E;
    float: left;
    color: #FFF;
}

.box~.box {
    float: right;
}

.box-text {
    display: inline-block;
    line-height: calc(20/14);
}

.img {
    float: right;
    margin-bottom: 56px;
    margin: 18px 4px 0 0;
}

.box-text p {
    margin: 19px 0 22px 0;
}

.box-text input {
    width: 225px;
    padding: 10px 20px;
    border-radius: 30px;
    background: #FFF;
    /* color: #C4C4C4; */
}

.box-text a {
    padding: 5px 47px;
    display: block;
    margin-top: 26px;
}

.logos {
    margin: 99px 0 0 0;
}

.list-logos {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF;
    /* margin: 59px 0 0 0; */
}

.list-logos td {
    padding: 33px 0;
    text-align: center;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;;
}

.footer-navi {
    overflow: hidden;
    margin-right: -30px;
}

.footer-box {
    float: left;
    width: 25%;
    padding: 30px 0 48px;
}

.footer-menu hr {
    margin: 30px 30px 17px 0;
    color: #EFEFEF;
}

.footer-menu-list {
    font-size: 12px;
    list-style: none;
    color: #828282;
    line-height: calc(28/12);
    border-top: 1px solid #EFEFEF;
    margin: 23px 0 0 0;
    padding: 23px 0 0;
    
}

.footer-soc {
    padding: 20px 0 20px;
    overflow: hidden;
    border-top: 1px solid #EFEFEF;
}

.socials a{
    color: #F13C6E;
    font-size: 50px;
    float: left;
    padding-top: 14px;
    margin-right: 14px;
}

.footer-copy {
    color: #828282;
    font-size: 12px;
    overflow: hidden;
    padding: 19px 0 10px;
}

.copyright {
    float: left;
}

.privacy {
    float: right;
}