@import "./vendors/normalize";
// Base style
@import "./base/variable";
@import "./base/mixin";
@import "./base/base";

// Style Start
@import "./components/tag";
@import "./components/button";
@import "./components/card";
@import "./components/pages";
@import "./components/form";


header {
    background: $black_bg;
}

.hold_between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 23px;
    margin: 36px 0;
}

.header-menu {
    width: 35%;

    .menu {
        display: flex;
        justify-content: space-around;

        li {
            a {
                display: block;
                padding: $tag-ptop $tag-py $tag-pbot;
                border-radius: $tag-br;
                
                &:hover {
                    background: $accent;
                }
            }
        }
    }
}

.row_cards {
    display: flex;
    margin: 0 -15px;
    padding: 30px 0;
}

.col {
    padding: 0 15px;
    display: flex;

    &:first-child {
        width: calc(100% / 3);
    }

    &:last-child {
        width: calc((100% / 3)*2);
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    >li {
        width: 50%;
        padding: 15px;
    }
}

.rewers {
    justify-content: space-between;
    padding: 45px 0 0 0;

    .col:first-child {
        flex-direction: column;
        justify-content: flex-start;
        width: calc((100% / 3)*2);

    }

    .col:last-child {
        flex-direction: column;
        justify-content: flex-start;
        width: calc(100% / 4);
    }
}

.hold {
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.small_list {
    margin-bottom: -60px;

    li {
        padding-bottom: 40px;
    }
}

.cards_small {
    margin: -5px -5px 5px -5px;

    >li {
        padding: 5px;
    }
}

.img {
    display: block;
    position: relative;
    padding-top: 100%;
    border-radius: $br;
    overflow: hidden;
    
    img {
        @extend %img;
    }
}

.hold_form {
    line-height: 171%;
}

.big_list li {
    padding-bottom: 60px;
}

.horiz_cards {
    display: flex;
    margin: 0 -15px;

    >li {
    width: calc(100% / 4);
    padding: 0 15px;
    }
}

.hold_section {
    padding: 45px 0 60px;
}