@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(26/16);
}

header {
    padding: 80px 0 20px;
    background-color: #EEEFF1;
}

.section {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}

.container {
    width: fit-content;
}

.menu {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 22px;
}

.menu a {
    text-decoration: none;
}

.hero-section .section {
    padding: 0 22px 0;
}

.hero-section {
    padding: 120px 0 140px;
    background-color: #EEEFF1;
    background-size: color;
}

h1 {
    margin: 10px 0 50px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: calc(78/48);
}

.box p {
    color: #727272;
    margin: 40px 0 0;
}

.btn {
    display: inline-block;
    padding: 20px 70px;
    margin: 65px 0 0 0;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    background-color: #34547A;
    color: #FFF;
    text-decoration: none;
}

.btn:hover {
    background-color: green;
}

.hero-section .container {
    width: 540px;
}

.box {
    width: 540px;
    margin: 100px auto;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: 500;
}

#icons-set {
    background-color: #34547A;
    color: #FFF;
}

.list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list li {
    display: inline-block;
}

.icon {
    font-size: 50px;
    color: #FFF;
}

.list div {
    display: inline-block;
}

.video {
    width: 1120px;
    margin: 0 auto 100px;
}

footer {
    background-color: #34547A;
    color: #FFF;
    padding: 50px 0;
}

footer p {
    margin: 20 0;
}

h4 {
    font-size: 21px;
    font-weight: 500;
}

/* footer .container {
    font-size: 13px;
    font-weight: 400;
    line-height: calc(21/13);
} */